<div class="col-4 col-12-medium">
    <section>
        <h2>Наши услуги</h2>
        <ul class="small-image-list">
            <li>
                <a>
                    <img alt="" class="left" />
                </a>
                <h4>
                    Title
                </h4>
                <p>
                    Subtitle
                </p>
            </li>
        </ul>
    </section>
</div>